.div-answers {
  margin-left: 50%;
  margin-top: 1%;
  width: 40%;
}

button {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px rgba(42, 192, 252, 0.61);
  color: black;
  font-size: 15px;
  height: 60px;
  margin: 2px;
  padding: 8px;
  text-align: center;
  width: 450px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.correct-answers {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect-answers {
  border: 3px solid red;
}
