.div-header {
  background-color: rgba(0, 0, 0, 0.89);
  box-shadow: 0 8px 8px 6px rgba(99, 70, 70, 0.658);
  display: flex;
  justify-content: flex-end;
  padding: 18px;
}

.header-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.header-name {
  color: white;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5%;
  margin-top: 10px;
}
