/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  font-family: Poppins , sans-serif;
  text-align: center;
}

.bg_video {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.fundo {
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

.login-body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.login-inputs-button {
  padding: 5px;
  background-color: rgba(184, 175, 175, 0.616);
  height: 350px;
  border-radius: 12px;
  text-align: center;
  width: 50%;
}

.div-logo-trivia {
  display: flex;
  justify-content: center;
}

.logo-trivia {
  margin-top: -40px;
  display: flex;
  border-radius: 10px;
  height: 100px;
  width: 200px;
}

#input-player-name {
  border-color: palevioletred;
  border-radius: 10px;
  width: 50%;
  height: 12px;
  margin-top: 30px;
  box-shadow: 0px 2px 3px 2px rgba(252, 42, 147, 0.61);
}

#input-gravatar-email {
  border-color: rgb(112, 192, 216);
  border-radius: 10px;
  width: 50%;
  height: 10px;
  margin-top: 5px;
  box-shadow: 0px 2px 3px 2px rgba(42, 192, 252, 0.61);
}

.login-button-play {
  background-color: rgb(99, 207, 140);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 15px;
  height: 40px;
  width: 55%;
}

.login-button-play:disabled {
  background-color: rgb(188, 188, 188);
}

.login-button-play:hover {
  cursor: pointer;
}

.login-button-settings {
  font-size: 15px;
  text-align: center;
  margin-top: 3px;
  padding: 8px;
  color: #FFFFFF;
  background-color: rgb(218, 133, 100);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 15px;
  height: 40px;
  width: 55%;
}

.login-button-settings:hover {
  cursor: pointer;
} */
