/* #logo-trivia {
  margin-top: -50px;
  display: flex;
  height: 100px;
  width: 200px;
  margin-left: -700px;
}

.div-question-category-text {
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.774);
  width: 45%;
  height: 180px;
  border-radius: 10px;
}

.category{
  border-color: palevioletred;
  background-color: palevioletred;
  padding: 12px 16px;
  border-radius: 10px;
  height: 12px;
  margin-top: 200px;
  box-shadow: 0px 2px 3px 2px rgba(252, 42, 234, 0.61);
}

.question-text {
  text-align: center;
  display: flex;
  color: #FFFFFF;
  background-color: rgb(218, 133, 100);
  box-shadow: 0px 4px 4px rgba(185, 187, 49, 0.521);
  width: 80%;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
}

.div-time {
  width: 15%;
  margin-left: 62%;
  margin-top: -19%;
  justify-content: center;
  display: flex;
  box-shadow: 0px 2px 3px 2px rgba(42, 192, 252, 0.61);
  background-color: rgba(42, 192, 252, 0.932);
  border-radius: 10px;
  font-size: 31px;
}

.button-next {
  margin-top: 30px;
  font-size: 15px;
  text-align: center;
  padding: 8px;
  color:black;
  border-radius: 10px;
  border: none;
  height: 60px;
  width: 450px;
  background-color: rgb(99, 207, 140);
  box-shadow: 0px 2px 3px 2px rgba(104, 161, 77, 0.541);
} */
