.logo-trivia {
  display: flex;
  height: 100px;
  margin-left: -700px;
  margin-top: -50px;
  width: 200px;
}

.div-question-category-text {
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 10px;
  height: 180px;
  justify-content: center;
  margin-left: 30px;
  margin-top: 40px;
  width: 45%;
}

.category {
  background-color: palevioletred;
  border-color: palevioletred;
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px rgba(252, 42, 234, 0.61);
  height: 12px;
  margin-top: 200px;
  padding: 12px 16px;
}

.question-text {
  background-color: rgb(218, 133, 100);
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(185, 187, 49, 0.521);
  color: white;
  display: flex;
  margin: 30px;
  padding: 10px;
  text-align: center;
  width: 80%;
}

.div-time {
  background-color: rgba(42, 192, 252, 0.932);
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px rgba(42, 192, 252, 0.61);
  display: flex;
  font-size: 31px;
  justify-content: center;
  margin-left: 62%;
  margin-top: -19%;
  width: 15%;
}

.button-next {
  background-color: rgb(99, 207, 140);
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 3px 2px rgba(104, 161, 77, 0.541);
  color: black;
  font-size: 15px;
  height: 60px;
  margin-top: 30px;
  padding: 8px;
  text-align: center;
  width: 450px;
}
